<section data-id="{{item.id}}">
  <div class="card" style="width: 25vw; max-width: 200px; height: 25vw; max-height: 200px">
<div id="card-display" class="card-body">
  <form data-id="{{item.id}}" class="update-form">
  <input type="text" name="title" data-id="{{item.id}}" placeholder="{{item.title}}">
  <input type="text" name="description" data-id="{{item.id}}" placeholder="{{limit item.description 15}}">
  <input type="submit" data-id="{{item.id}}" value="submit" class="btn btn-primary btn-sm update-send">
</form>
  <button data-id="{{item.id}}" class="btn btn-danger btn-sm cancel">cancel</button>
</div>
</div>
</section>
{{#each otherItems as |otherItem|}}
  {{log otherItem}}
  <section data-id="{{otherItem.id}}">
    <div class="card" style="width: 25vw; max-width: 200px; height: 25vw; max-height: 200px">
  <div id="card-display" class="card-body">
    <h5 class="card-title">{{limit otherItem.title 15}}</h5>
    <p class="card-text">{{otherItem.description}}</p>
    <p>Due in</p><p id='time'>{{otherItem.created_at}}</p>
  </div>
</div>
  </section>

{{/each}}
