{{#each items as |item|}}
  {{#if (compare item.id)}}
<section data-id="{{item.id}}">
  {{#if (overdue item.created_at)}}
  <div class="card" style="width: 25vw; max-width: 200px; height: 25vw; max-height: 200px">
    {{else}}
    <div class="card" style="width: 25vw; max-width: 200px; height: 25vw; max-height: 200px; background-color: rgb(124, 41, 41)">
      {{/if}}
<div id="card-display" class="card-body">
  <form data-id="{{item.id}}" class="update-form">
  <input type="text" name="title" data-id="{{item.id}}" placeholder="{{item.title}}">
  <input type="text" name="description" data-id="{{item.id}}" placeholder="{{limit item.description 15}}">
  <input type="submit" data-id="{{item.id}}" value="submit" class="btn btn-primary btn-sm update-send">
</form>
  <button data-id="{{item.id}}" class="btn btn-danger btn-sm cancel">cancel</button>
</div>
</div>
</section>
{{else}}
  <section data-id="{{item.id}}">
    {{#if (overdue item.created_at)}}
    <div class="card" style="width: 25vw; max-width: 200px; height: 25vw; max-height: 200px">
      {{else}}
      <div class="card" style="width: 25vw; max-width: 200px; height: 25vw; max-height: 200px; background-color: rgb(124, 41, 41)">
        {{/if}}
  <div id="card-display" class="card-body">
    <h5 class="card-title">{{limit item.title 15}}</h5>
    <p class="card-text">{{item.description}}</p>
    <p id='time'>{{convert item.created_at}}</p>
  </div>
</div>
  </section>
 {{/if}}
 {{/each}}
